.button{
    display: flex;
    height: 4em;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: #fbe7d7;
    color: #5b0e2d;
    outline: 1px solid rgb(43, 1, 1);
}
.operator {
    background-color: #5b0e2d;
    color: white;

}